<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>a.tiff</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{392,507}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,507}}</string>
                <key>sourceSize</key>
                <string>{392,507}</string>
            </dict>
            <key>b.tiff</key>
            <dict>
                <key>frame</key>
                <string>{{392,0},{392,507}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,507}}</string>
                <key>sourceSize</key>
                <string>{392,507}</string>
            </dict>
            <key>c.tiff</key>
            <dict>
                <key>frame</key>
                <string>{{784,0},{392,507}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,507}}</string>
                <key>sourceSize</key>
                <string>{392,507}</string>
            </dict>
            <key>d.tiff</key>
            <dict>
                <key>frame</key>
                <string>{{1176,0},{392,507}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,507}}</string>
                <key>sourceSize</key>
                <string>{392,507}</string>
            </dict>
            <key>e.tiff</key>
            <dict>
                <key>frame</key>
                <string>{{1568,0},{392,507}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,507}}</string>
                <key>sourceSize</key>
                <string>{392,507}</string>
            </dict>
            <key>f.tiff</key>
            <dict>
                <key>frame</key>
                <string>{{0,507},{392,507}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,507}}</string>
                <key>sourceSize</key>
                <string>{392,507}</string>
            </dict>
            <key>g.tiff</key>
            <dict>
                <key>frame</key>
                <string>{{392,507},{392,507}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,507}}</string>
                <key>sourceSize</key>
                <string>{392,507}</string>
            </dict>
            <key>h.tiff</key>
            <dict>
                <key>frame</key>
                <string>{{784,507},{392,507}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,507}}</string>
                <key>sourceSize</key>
                <string>{392,507}</string>
            </dict>
            <key>i.tiff</key>
            <dict>
                <key>frame</key>
                <string>{{1176,507},{392,507}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,507}}</string>
                <key>sourceSize</key>
                <string>{392,507}</string>
            </dict>
            <key>j.tiff</key>
            <dict>
                <key>frame</key>
                <string>{{1568,507},{392,507}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,507}}</string>
                <key>sourceSize</key>
                <string>{392,507}</string>
            </dict>
            <key>k.tiff</key>
            <dict>
                <key>frame</key>
                <string>{{0,1014},{392,507}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,507}}</string>
                <key>sourceSize</key>
                <string>{392,507}</string>
            </dict>
            <key>l.tiff</key>
            <dict>
                <key>frame</key>
                <string>{{392,1014},{392,507}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,507}}</string>
                <key>sourceSize</key>
                <string>{392,507}</string>
            </dict>
            <key>m.tiff</key>
            <dict>
                <key>frame</key>
                <string>{{784,1014},{392,507}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,507}}</string>
                <key>sourceSize</key>
                <string>{392,507}</string>
            </dict>
            <key>n.tiff</key>
            <dict>
                <key>frame</key>
                <string>{{1176,1014},{392,507}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,507}}</string>
                <key>sourceSize</key>
                <string>{392,507}</string>
            </dict>
            <key>o.tiff</key>
            <dict>
                <key>frame</key>
                <string>{{1568,1014},{392,507}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,507}}</string>
                <key>sourceSize</key>
                <string>{392,507}</string>
            </dict>
            <key>p.tiff</key>
            <dict>
                <key>frame</key>
                <string>{{0,1521},{392,507}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,507}}</string>
                <key>sourceSize</key>
                <string>{392,507}</string>
            </dict>
            <key>q.tiff</key>
            <dict>
                <key>frame</key>
                <string>{{392,1521},{392,507}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,507}}</string>
                <key>sourceSize</key>
                <string>{392,507}</string>
            </dict>
            <key>r.tiff</key>
            <dict>
                <key>frame</key>
                <string>{{784,1521},{392,507}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,507}}</string>
                <key>sourceSize</key>
                <string>{392,507}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>LatinAmericaSprite.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:346be49ee896b34989d0bf7e916d6296$</string>
            <key>textureFileName</key>
            <string>LatinAmericaSprite.png</string>
        </dict>
    </dict>
</plist>
