<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>EarthBW.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{298,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,294}}</string>
                <key>sourceSize</key>
                <string>{298,294}</string>
            </dict>
            <key>EarthBlue.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,2},{298,294}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{298,294}}</string>
                <key>sourceSize</key>
                <string>{298,294}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>globebtns.png</string>
            <key>size</key>
            <string>{602,298}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7b219e298b5622e1875cc4cae42cc788$</string>
            <key>textureFileName</key>
            <string>globebtns.png</string>
        </dict>
    </dict>
</plist>
